{% extends 'base.html' %}

{% block content %}
    <div class="container">
    {% for post in post_list %}
        {% include 'posts/includes/post_card.html' %}
    {% endfor %}
    {% if is_paginated %}
        <nav class="mb-5 mt-3 my-pagination" aria-label="...">
            <ul class="pagination justify-content-center mb-3">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}"> {{ page_obj.number }}<span class="sr-only">(current)</span></a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>{% endif %}
{% endblock %}
